<% @users.each do |user| %>
  <a class="user-link" href="/users/<%= user.id%>">
  <section class="all-users">  
    <div class="img-holder"><%= user.photo %></div>
      <div class="user-info">
        <h2><%= user.name %></h2> 
        <span>Number Of Posts: <%= user.post_counter %></span>
      </div>
    </section>
  </a>
<% end %>